:root {
  --first-nivel: #ffffff;
  --blue: #0090dd;
  --second_nivel: #000000;
  --third_nivel: #adaeb1;
  --four_nivel:#f1f1f1;
  --fs_fn: 1.2rem;
  --fs_sn: 1.5rem;
  --fs_tn: 2rem;
  --fs_fo: 3rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "DM Sans", sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

html {
  font-size: 62.5%;
}

header {
  width: 100%;
  height: 70px;
  margin: 0 auto;
  display: inline;
  color: var(--blue);
  border-bottom: 1px solid var(--first-nivel);
}

.header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  padding: 1rem 0;
  margin: 0 auto;
  min-width: 200px;
}

.header_list {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-end;
}

.header_item {
  display: none; 
  padding: 1rem 0;
  white-space: nowrap;
  width: 100%;
  text-align: center;
}

.header_item a {
  padding: 1rem 0.5rem;
  color: var(--third_nivel);
  font-size: var(--fs_sn);
  font-family: "Inter", sans-serif;
}

.header_item a:hover {
  border: 1px solid var(--blue);
  border-radius: 25px;
  background-color: var(--blue);
  color: var(--first-nivel);
}

.header_logo_container{
  display: flex;
  justify-content: space-between;
}

.header_logo {
  display: flex;
  flex-direction: column;
  font-size: var(--fs_fn);
  color: var(--third_nivel);
}

.header_logo img {
  width: 150px;
}

.header_logo p {
  font-size: var(--fs_sn);
}

.header_item--toogle { 
  font-size: var(--fs_fo);
  color: var(--blue);
  width: 50px;
  height: 50px;
  text-align: end;
}

.header_item--active {
  display: block;
}

.fas {
  width: 26px;
}

main {
  width:100%;
  height: auto;
}

.main-contact{
  position: relative;
  width: 100%;
  height: calc(100vh - 70px);
  margin:0 auto;
  background-image: url("../img/img-03-preset-5_320.jpg");
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  margin-bottom: 5rem;
}

/* Conocenos */
.main-conocenos{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(70vh - 70px);
  margin:0 auto;
  background-image: url("../img/img-showcase1F_320.jpg");
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  margin-bottom: 3rem;
}

.main-contact--title {
  display: flex;
  width: calc(100vw - 50%);
  height: 100%;
  padding: 1rem 0;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(0,144, 221, .7);
}

.main-conocenos--title{
  width: 90%;
  height: 40%;
  min-height: 222px;
  min-width: 200px;
  max-width: 900px;
  padding: 1rem 0;
  background-color: rgba(0,144, 221, .7);
  text-align: center;
  color: var(--first-nivel);
}

.main-conocenos--title h1{
  color: var(--first-nivel);
  font-size: var(--fs_tn);
  padding: 1rem 0;
  text-align: center;
}

.main-conocenos li {
  text-align: center;
  color:var(--first-nivel);
  font-size: var(--fs_sn);
  line-height: 2rem;
  padding: 1rem 0.5rem;
  list-style: circle;
} 


/* Contacto */

.main-contacto{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(70vh - 70px);
  margin:0 auto;
  background-image: url("../img/img-showcase11_320.jpg");
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  margin-bottom: 3rem;
}

.main-contacto--title {
  display: flex;
  width: calc(100vw - 50%);
  height: 100%;
  padding: 1rem 0;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(0,144, 221, .7);
}

.main-contacto--title{
  width: 90%;
  height: 40%;
  min-height: 222px;
  min-width: 200px;
  max-width: 900px;
  padding: 1rem 0;
  background-color: rgba(0,144, 221, .7);
  text-align: center;
  color: var(--first-nivel);
}

.main-contacto--title h1{
  color: var(--first-nivel);
  font-size: var(--fs_tn);
  padding: 1rem 0;
  text-align: center;
}

.main-contacto li {
  text-align: center;
  color:var(--first-nivel);
  font-size: var(--fs_tn);
  line-height: 2rem;
  padding: 1rem 0.5rem;
  list-style: circle;
} 

.contacto-textos {
  width: 90%;
  margin: 0 auto;
}

.contacto-textos h4{
  color: var(--third_nivel);
  text-decoration: underline;
  font-size: var(--fs_tn);
  padding: 1rem 0;
  text-align: left;
  margin-bottom: 1rem;
}

.contacto-textos p {
  color: var(--third_nivel);
  font-size: var(--fs_tn);
}

.contacto-textos a {
  color: var(--third_nivel);
  font-size: var(--fs_tn);
}


.contacto-textos a span {
  padding-top: 1rem;
  padding-right: 0.5rem;
}

/* daa */


.main--title {
  width: 90%;
  height: auto;
  padding: .5rem;
  margin: 0 auto;
}

.main--title__line{
  width: 90%;
  border-bottom: 1px solid var(--third_nivel);
  margin: 1rem;
}

.main--title h1 {
  color: var(--first-nivel);
  font-size: var(--fs_tn);
  padding: 1rem 0;
  text-align: center;
}

.main-contact ul {
  width: 90%;
  height: auto;
  margin: 0 auto;
  padding-bottom: 2rem;
}

.main-contact li {
  text-align: center;
  color:var(--first-nivel);
  font-size: var(--fs_sn);
  line-height: 2rem;
  padding: 1rem 0;
} 

.main-contact a {
  position: absolute;
  display: inline-block;
  width: 260px;
  height:5rem;
  line-height: 5rem;
  font-size: var(--fs_sn);
  padding: 0 1.5rem;
  color: var(--first-nivel);
  border-radius: 25px;
  background-color: #adaeb1;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.46);
  left: calc(50% - 130px);
  bottom: -25px;
}

.main-contact a span {
  display: inline-block;
  width: 2rem;
  height: 5rem;
  vertical-align: -32%;
}

.main-organization {
  width:100;
  height: 30%;
  margin-bottom: 5rem;
}

.main-organization__container{
  width: 90%;
  margin: 0 auto;
  padding: 1rem 0;
}

.main-organization__title {
  color: var(--blue);
  font-size: var(--fs_tn);
  padding-bottom: 2rem;
}

.main-organization__line {
  width: 100%;
  margin: 0 auto;
  border-bottom: 1px solid var(--third_nivel);
}

.main-organization__text {
  padding-top: 2rem;
  color: var(--third_nivel);
  font-size: var(--fs_sn);
  text-align:justify;
}

/* Ventas */
.main-ventajas{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(70vh - 70px);
  margin:0 auto;
  background-image: url("../img/head_servicios_320.jpg");
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  margin-bottom: 3rem;
}

.main-ventajas-contenedor{
  width: 100%;
}

.main-ventajas-textos {
  width: 90%;
  margin: 0 auto;
}

.main-ventajas-textos h3{
  color: var(--blue);
  font-size: var(--fs_tn);
  padding: 1rem 0;
  text-align: center;
  margin-bottom: 1rem;
}

.main-ventajas-textos p{
  text-align: justify;
  color:var(--third_nivel);
  font-size: var(--fs_sn);
  line-height: 2rem;
  padding: 1rem 0.5rem;
}

.main-ventajas-textos h4{
  color: var(--third_nivel);
  text-decoration: underline;
  font-size: var(--fs_tn);
  padding: 1rem 0;
  text-align: left;
  margin-bottom: 1rem;
}

.main-ventajas-textos li{
  color: var(--third_nivel);
  list-style-type: circle;
  list-style-position: inside;
  font-size: var(--fs_sn);
  text-align: left;
  margin-bottom: 1rem;
}

.main-responsabilidad-contenedor{
  margin-bottom: 2rem;
}

.main-responsabilidad{
  width: 100%;
  height: 100%;
  text-align: center;
}

.main-responsabilidad_video {
  width: 300px;
  height: 170px;
  margin-bottom: 2rem;
}

.main-responsabilidad-textos {
  width: 90%;
  margin: 0 auto;
}

.main-responsabilidad-textos h3 {
  color: var(--blue);
  font-size: var(--fs_tn);
  padding: 1rem 0;
  text-align: center;
  margin-bottom: 1rem;
}

.main-responsabilidad-video {
  width: 90%;
  margin: 0 auto;
}

.main-responsabilidad-textos h4 {
  color: var(--third_nivel);
  text-decoration: underline;
  font-size: var(--fs_tn);
  padding: 1rem 0;
  text-align: left;
  margin-bottom: 1rem;
}

.main-responsabilidad-textos p {
  text-align: justify;
  color:var(--third_nivel);
  font-size: var(--fs_sn);
  line-height: 2rem;
  padding: 1rem 0.5rem;
}

.main-responsabilidad-textos li {
  color: var(--third_nivel);
  list-style-type: circle;
  list-style-position: inside;
  font-size: var(--fs_sn);
  text-align: left;
  margin-bottom: 1rem;
}

.canales-containter{
  width: 100%;
}

.canal-container {
  width: 90%;
  padding: 1rem;
  margin: 0 auto;
  display: flex;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
}

.canal:nth-child(2n) {
  position: relative;
  flex: 1 0 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 350px;
  padding: 3rem;
  font-family: 'Inter', sans-serif;
  background-color: var(--blue);
  scroll-snap-align: center;
}

.canal:nth-child(2n) > h3 {
  width: 200px;
  font-size: var(--fs_fo);
  font-weight: bold;
  padding: 2rem 2rem;
  text-align: center;
  color: var(--first-nivel)
}

.canal:nth-child(2n) > p {
  width: 200px;
  font-size: var(--fs_sn);
  padding-bottom: 3rem;
  text-align: center;
  color: var(--second_nivel);
}

.canal:nth-child(2n+1) {

  position: relative;
  flex: 1 0 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 350px;
  padding: 3rem;
  font-family: 'Inter', sans-serif;
  background-color: var(--four_nivel);
  scroll-snap-align: center;
}

.canal:nth-child(2n+1) > h3 {
  width: 200px;
  font-size: var(--fs_fo);
  font-weight: bold;
  padding: 2rem 2rem;
  color: var(--blue);
  text-align: center;
}

.canal:nth-child(2n+1) > p {
  width: 200px;
  font-size: var(--fs_sn);
  padding-bottom: 3rem;
  text-align: center;
  color: var(--second_nivel);
  font-weight: bold;
}

.canal-icon-rigth {
  right: 2px;
  top: 180px;
  font-size:var(--fs_tn);
  position:absolute;
  text-align: end;
}

.canal-icon-left {
  left: 2px;
  top: 180px;
  font-size:var(--fs_tn);
  position:absolute;
  text-align: end;
}

footer {
  width: 100%;
  height: auto;
  background-color: #333333;
  padding: 2rem 0;
  color: var(--third_nivel);
  font-size: var(--fs_sn);
  margin-top: 3rem;
}

footer i {
  padding-right: 1rem;
}

.footer__icon  {
  padding: 1rem 0;
  color: var(--first-nivel);
  padding-right: 1rem;
}

footer a {
  color: var(--third_nivel);
  font-size: var(--fs_sn);
  display: flex;
  align-items: center;
}

footer h3 {
  font-size: var(--fs_tn);
  padding-bottom: 1rem;
  color: var(--first-nivel);
}

.footer-organization {
  width: 90%;
  margin: 0 auto;
}

.footer-ubicacion {
  padding-bottom: 2rem;
}

.footer-ubicacion p {
  padding-bottom: 1rem;
}

