.main-contact{
  background-image: url("../img/img-03-preset-5_1024.jpg");
}

.main-conocenos{
  background-image: url("../img/img-showcase1F_1024.jpg");
}

.main-ventajas{
  background-image: url("../img/head_servicios_1024.jpg");
}

.main-contacto{
  background-image: url("../img/img-showcase11_1024.jpg");
}


.main-responsabilidad_video {
  width: 1000px;
  height: 500px;
  margin-bottom: 2rem;
}