.main-contact{
  background-image: url("../img/img-03-preset-5_1024.jpg");
}

.main-conocenos{
  background-image: url("../img/img-showcase1F_1024.jpg");
}

.main-ventajas{
  background-image: url("../img/head_servicios_1024.jpg");
}