.header_item--toogle{
  display: none;
}

.header_list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0 1rem;
}

.header_item {
  display: block; 
}

.main-contact{
  background-image: url("../img/img-03-preset-5_768.jpg");
}

.main-conocenos{
  background-image: url("../img/img-showcase1F_768.jpg");
}

.main-ventajas{
  background-image: url("../img/head_servicios_768.jpg");
}

.main--title h1 {
  font-size: var(--fs_fo);
}

.main-contact li {
  font-size: var(--fs_tn);
  padding: 2rem 0;
} 

.canal-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.canal:nth-child(2n+1) {
  flex: 0 0;
  width: 300px;
  margin: 1rem;
}

.canal:nth-child(2n+1) > h3 {
  width: 300px;
}

.canal:nth-child(2n+1) > p {
  width: 300px;
  padding: 2rem;
}

.canal:nth-child(2n) {
  flex: 0 0;
  width: 300px;
  margin: 1rem;
}

.canal:nth-child(2n) > h3 {
  width: 300px;
}

.canal:nth-child(2n) > p {
  width: 300px;
  padding: 2rem;
}

.canal-icon-rigth {
  display: none;
}

.canal-icon-left {
  display: none;
}

.footer-organization {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
}

.footer-ubicacion {
  width: 400px;
}